.login_div1 , .login_div2
{
    background: rgb(135, 114, 172);
    padding: 10px;
    float: none;
    border-radius: 15px;
}
#title{
    font-family: 'Fascinate', cursive;
}
h3{
    font-family: 'Righteous', cursive;
}
body{
 background: image cool website background -15jpg; ;   

}